body{
    margin: 0;
    padding: 0;

}

.menu-container{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 78px;
    
}
.menu-container_icon{
    display: flex;
    width: 20%;
    justify-content: center;
}

.menu-container_logo{
    display: flex;
    margin-left: 22%;
    width: 100%;
}

.menu-container_logo img{
   width: 112px;
   height: 40px;
}

.sinopsis-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:60px;
}
.sinopisis-container_image{
    position: relative;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 91.54%);
    background-size: cover;
    width: 100%;
}

.sinopisis-container_image img {
    position: relative;
    z-index: -1;
    display: block;
    max-width: 100%;
  }
  
  .sinopisis-container_content{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 16px;
    width: 90%;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px #B8E1FF;
    border-radius: 6px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 10px;
  }

  .sinopisis-container_content_title{
    align-self: flex-start;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
  }


  .sinopisis-container_content_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    letter-spacing: 0.25px;
    color: #000000;


  }

  .sinopisis-container_content_readAll{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    letter-spacing: 0.15px;

    /* Primary/Dark_1 */
    color: #0C75AF;

  }

  hr{
    background-color: #0C75AF;
  }

  .classHide{
      display: none;
  }

.menu_items{
    position: absolute;
    z-index: 100;
    height: 300px;
    width: 100%;
    background-color: white;
}

.menu_item{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

a{
    font-size: 18px;
    line-height: 24px;
    color: #575757;
    text-decoration:none;
}

.menu_item:hover{
    text-decoration: underline #0C75AF
}

a:active{color: #0C75AF;}




.common-items-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top:60px;
}

.common-items-container_content{
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 16px;
  width: 90%;
  background: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 10px;
}

.common-items-container_title{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.characters-container_content_text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  letter-spacing: 0.25px;
  color: #000000;


}

.common-items-container_title--main{
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.1px;

  /* Grey_Scale/Black */
  color: #171717;
}

.common-items-container_title-see-all{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;

  /* Primary/Dark_1 */
  color: #0C75AF;

}

.common-items-container_grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.common-items-container_grid--start{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.characters-container_grid_item{
  width: 140px;
  height: 200px;
  margin: 10px 0px;
  background-image: linear-gradient(179.8deg, rgba(255, 255, 255, 0) 50.33%, #000000 97.62%);
  border-radius: 10%;
  position: relative;
}
.characters-container_grid_item{
  position: relative;
}
.characters-container_grid_item img{
  width: 140px;
  height: 200px;
}
.island-container_grid_item img{
  width: 150px;
  height: 150px;
}

.island-container_grid_item{
  position: relative;
}

.island-container_grid_item_descripcion{
  position: absolute;
  width: 108px;
  height: 45px;
  left: 15px;
  top: 90px;
  background: rgba(0, 96, 150, 0.59);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 6px;
  padding-left: 10%;
  color: white;
}

.mist-objects-container_grid_item{
  margin: 5px 0px;
  position: relative;
  width: 100%;
}

.mist-container_grid_item_descripcion{
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  height: 112px;
  width: 225px;
  position: absolute;
  left: 90px;
  top: 0px;
  background: rgba(0, 96, 150, 0.59);
  /* Frost Effect */
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 6px 6px 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
  letter-spacing: 0.4px;
  color: #F4F4F4;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.footer{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 0px;
  gap: 38px;
  width: 100%;
  height: 140px;
  left: 0px;
  background: #0C75AF;
  /* Body/Small */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* or 114% */
text-align: center;
letter-spacing: 0.4px;

color: #FFFFFF;
}




