@import 'variables';
@import 'common';


.hideMore{
    display: none;
}
.menu-container{
    display: flex;
    align-items: center;
    background-color: $general-background-color;
    height: 78px;
    &_icon{
        display: flex;
        width: 20%;
        justify-content: center;
    }
    &_logo{
        display: flex;
        margin-left: 22%;
        width: 100%;
        img{
            width: 112px;
            height: 40px;
        }
    }
}

.menu_items{
    position: absolute;
    z-index: 100;
    height: 300px;
    width: 100%;
    background-color: $general-background-color;
    font-size: 18px;
    line-height: 24px;
    color: #575757;
    text-decoration: none;
    box-shadow: 0px 4px 3px #F3F3F3;
}

.menu_item{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

.languages{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 22px;
        margin-left: 5px;
    }
    &_item{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        &--selected{
            background-color: #ECECEC;
        }
    }
}

a{
    font-size: 18px;
    line-height: 24px;
    color: #575757;
    text-decoration:none;
}

.menu_item:hover{
    text-decoration: underline $secondary-color;
}

a:active{color: $secondary-color;}

.sinopsis-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:60px;
    &_image{
        position: relative;
        background: linear-gradient(180deg, rgba(196, 196, 196, 0) 70%, $general-background-color 91.54%);
        background-size: cover;
        width: 100%;
        img {
            position: relative;
            z-index: -1;
            display: block;
            max-width: 100%;
          }
    }
    &_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        gap: 16px;
        width: 90%;
        background: $general-background-color;
        box-shadow: 0px 0px 8px #B8E1FF;
        border-radius: 6px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-top: 10px;
        &_title{
            align-self: flex-start;
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 28px;
        }
        &_text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #000000;
        }
        &_readAll{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: $secondary-color;
            width: 100%;
            display: flex;
            justify-content: center;
            img{
                margin-right: 10px;
            }
        }
    }
}


.common-items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:60px;
    &_grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        &--start{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 100%;
        }
    }
    &_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        gap: 16px;
        width: 90%;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-top: 10px;
    }
    &_title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        &--main{
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            letter-spacing: 0.1px;
            color: #171717;
        }
        &-see-all{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            letter-spacing: 0.25px;
            color: $secondary-color;
        }
    }


}


.characters-container_content_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    letter-spacing: 0.25px;
    color: #000000;
}

.characters-container_grid_item{
    width: 140px;
    height: 190px;
    margin: 10px 0px;
    background-image: linear-gradient(179.8deg, rgba(255, 255, 255, 0) 50.33%, #000000 97.62%);
    border-radius: 10%;
    position: relative;
    img{
        width: 140px;
        height: 200px;
        position: absolute;
        z-index: -1;
    }
    &_characterName{
        position: absolute;
        color: $general-background-color;
        text-align: center;
        top: 70%;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Roboto';
    }
}



.island-container_grid_item{
    position: relative;
    &_descripcion{
        position: absolute;
        width: 108px;
        height: 45px;
        left: 15px;
        top: 90px;
        background: rgba(0, 96, 150, 0.59);
        backdrop-filter: blur(4px);
        border-radius: 6px;
        padding-left: 10%;
        color: $general-background-color;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: 0.5px;
    }
    img{
        width: 150px;
        height: 150px;
    }
}

.mist-objects-container_grid_item{
    margin: 5px 0px;
    position: relative;
    width: 100%;
}
  
.mist-container_grid_item_descripcion{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    height: 112px;
    position: absolute;
    left: 90px;
    top: 0px;
    background: rgba(0, 96, 150, 0.59);
    backdrop-filter: blur(4px);
    border-radius: 0px 6px 6px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.4px;
    color: #F4F4F4;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.footer{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 0px;
    gap: 38px;
    width: 100%;
    height: 140px;
    left: 0px;
    background: $secondary-color;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    color: $general-background-color;

    div{
        width: 72%;
    }
}