body {
  margin-left: 23%;
  margin-right: 23%;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.container__characterCard {
  position: relative;
  height: 279px;
  width: 220px;
  border-radius: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(179.8deg, rgba(255, 255, 255, 0) 50.33%, #000000 97.62%);
}

.container__characterCard__characterName {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 70%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Roboto Slab';
}

.container__characterCard img {
  position: relative;
  z-index: -1;
  display: block;
  height: 279px;
  width: 220px;
  border-radius: 10%;
}
